 #map {
     height: 100%;
 }
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 .h1_start {
     font-family: 'pacifico';
     font-size: 10vw;
     text-align: center;
     line-height: 10vw;
     font-weight: 100;
 }
 .start_p {
     font-family: 'catamaran';
     font-size: 5vw;
     margin: 5vw;
     margin-top: 10vw;
 }
 .knap {
     color: white;
     background-color: black;
     border: none;
     height: 6vw;
     width: 15vw;
     font-size: 10vw;
 }
