 #map {
     height: 90%;
     margin-top: 0vw;
 }
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: azure;
 }
 body img {
     height: 200px;
 }
 /* START SIDE */

 .h1_start {
     font-family: 'roboto';
     font-size: 8vw;
     text-align: center;
     line-height: 10vw;
     font-weight: 2000;
     margin-top: 12vw;
 }
 .start_p {
     font-family: 'roboto';
     font-size: 5vw;
     margin: 5vw;
     margin-top: 20vw;
     text-align: center;
 }
 .knap {
     color: black;
     background-color: white;
     border: none;
     height: 8vw;
     width: 20vw;
     font-size: 5vw;
     text-align: center;
     font-family: 'roboto';
     border: solid 14px black;
     border-radius: 5%;
     position: absolute;
     top: 110vw;
     left: 39vw;
 }
 .start_logo {
     width: 85vw;
     margin-left: 7vw;
     margin-top: 2vw;
 }
 .inputfelt {
     height: 10vw;
     width: 40vw;
     position: absolute;
     left: 28%;
     top: 90vw;
     font-size: 200px;
     text-align: center;
 }
 /* QUIZ SIDE */

 .quiz_overskrift {
     font-family: 'roboto';
     font-size: 10vw;
     text-align: center;
 }
 .quiz_tekst {
     font-family: 'roboto';
     font-size: 5vw;
     text-align: center;
     margin-top: 10vw;
     margin-bottom: 10vw;
 }
 h2 {
     font-family: 'roboto';
     font-size: 4vw;
     text-align: center;
     margin-top: 15vw;
 }
 h3 {
     font-family: 'roboto';
     font-size: 3vw;
     text-align: center;
     margin-top: 10vw;
 }
 .statisk_tekst {
     font-family: 'roboto';
     font-size: 4vw;
     line-height: 6vw;
     text-align: center;
 }
 #result {
     font-family: 'roboto';
     font-size: 4vw;
     margin-top: -4vw;
     text-align: center;
 }
 /* Navigation */

 .menu_icon {
     position: absolute;
     top: 8vw;
     right: 5vw;
     width: 50px;
     height: 40px;
 }
 .topline {
     background-color: black;
     height: 5px;
     width: 30px;
 }
 .botline {
     background-color: black;
     height: 5px;
     width: 30px;
     position: relative;
     top: 5px;
 }
 .top {
     animation-name: topmove;
     animation-duration: 0.5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 @keyframes topmove {
     to {
         transform: translate3d(0px, 5px, 0) rotate(45deg);
     }
 }
 .bot {
     animation-name: botmove;
     animation-duration: 0.5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 @keyframes botmove {
     to {
         transform: translate3d(0px, -4px, 0) rotate(-45deg);
     }
 }
 .top-reverse {
     animation-name: top-reverse;
     animation-duration: 0.5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 @keyframes top-reverse {
     from {
         transform: translate3d(0px, 5px, 0) rotate(45deg);
     }
     to {
         transform: translate3d(0px, 0px, 0) rotate(0deg);
     }
 }
 .bot-reverse {
     animation-name: bot-reverse;
     animation-duration: 0.5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 @keyframes bot-reverse {
     from {
         transform: translate3d(0px, -4px, 0) rotate(-45deg);
     }
     to {
         transform: translate3d(0px, 0px, 0) rotate(0deg);
     }
 }
 .dropmenu {
     position: absolute;
     background-color: #e8e7e7;
     top: 0;
     /*left: 61vw;*/
     width: 100%;
     height: 140%;
     display: none;
     text-align: center;
 }
 .dropmenu a {
     display: inline-block;
     font-size: 5vw;
     font-family: 'roboto';
     line-height: 9vw;
     text-decoration: none;
     color: black;
 }
 .showmenu {
     display: block;
     animation-name: showmenu;
     animation-duration: 0.2s;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
 }
